registry "http://nexus.ypsx-internal.com/repository/npm-group/"
"_auth" bm9kZS1kZXZlbG9wZXI6N1pYR3pFelJxTVlMYzE0d1U0NUE=
always-auth true
email node-developer@ypshengxian.com
electron_mirror https://npm.taobao.org/mirrors/electron/
ELECTRON_MIRROR https://npm.taobao.org/mirrors/electron/